/* Este arquivo, faremos TODAS as REGRAS CSS necessárias para formatação do site */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../imagens/watercolor.png);
    
}


h1 { 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(239, 235, 240); 
    background-color: rgb(219, 128, 231); 
    padding: 10px;
    border: rgb(235, 92, 92) solid 2px; 
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: rgb(119, 15, 33) 0px 0px 10px inset;
    width: 70%;
    margin: auto; 

} 

#container {
    background-color: rgb(247, 219, 247);
    width: 70%;
    margin: auto;
    box-shadow: rgb(230, 2, 40) 0 0 5px;
    padding: 16px;
    border-radius: 15px;
}

h2 {
    font-size: 20px;
    border-bottom: rgb(166, 64, 197) solid 5px;
    border-left: rgb(166, 64, 197) dashed 3px;
    padding-left: 20px; 
}




/* Grupo de seletores */

h3, p, figcaption {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    padding: 8px;
    background: linear-gradient(
        45deg,
        pink,
        rgb(204, 24, 165), 
        white
  );
}

.destaque { 
    background-color: rgb(226, 138, 226);
    padding: 3px;
    color: rgb(236, 230, 230);
    border-radius: 4px;
}


/* Reset/Limpeza */

figure{ 
    margin: 0;
    text-align: center;
}

img { max-width: 100%;}

/* Seletor descendente */

p a { color: rgb(236, 8, 149);}

